@import url('https://fonts.googleapis.com/css?family=Orbitron');
body {
	background-image: linear-gradient(to right, purple 5%, white 95%);
}
#calculator {
	position: relative;
	margin: auto;
	height: 45vh;
	width: 40vw;
	border: 5px solid black;
	border-radius: 5px;
	background-color: lightblue
}

#display {
	position: relative;
	height: 14vh;
	width: 90%;
	margin: auto;
	background-color: aqua;
	border: 5px solid blue;
	border-radius: 20px;
	top: 3%;
}

#buttons {
	position: relative;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 1%;
	grid-row-gap: 2%;
	margin: auto;
	padding: 1%;
	top: 5%;
}

#equals {
	grid-column: span 2;
}

button {
	box-shadow: 2px 2px black;
	border-radius: 5%;
}

p {
	position: relative;
	margin: auto;
	right: 1%;
	text-align: right;
	font-size: 2.5em;
	font-family: 'Orbitron', sans-serif;
	overflow: hidden;
}

button:hover {
	background-color: white;
}

.help {
	background-color: cornflowerblue;
	border: blue;
}

#top {
	font-size: 1.9em;
}

#helpDisplay {
	background-color: slategray;
	border-radius: 20px;
	box-shadow: 4px 4px black;
	width: inherit;
	height: 38%;
	position: fixed;
	z-index: 1;
	display: none;
}

li {
	font-size: .8em;
	text-align: center;
	font-family: cursive;
}

#helpDisplay > p {
	text-align: center;
	font-family: cursive;
}
.operations {
	background-color: darkgrey;
}
.special {
	background-color: darkgray;
}
.ops {
	background-color: cornflowerblue;
}